{{ define "main" }}
  {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
  {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}

  {{ $PageContext := . }}
  {{ if .IsHome }}
    {{ $PageContext = .Site }}
  {{ end }}
  {{ $paginator := .Paginate (where $PageContext.RegularPages "Type" $contentTypeName) }}



  <div class="posts">
    {{ if .Content }}
      <div class="index-content {{ if .Params.framed -}}framed{{- end -}} {{ $PageContext }}">
        {{ .Content }}     
      </div>
    {{ end }}

    <div class="pagination__title">
      <span class="pagination__title-h"> latest post </span>
      <hr />
    </div>
    <!-- last article -->
    {{ range first 1 $paginator.Pages.ByDate.Reverse }}
      <div class="post on-list">
        <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
        <div class="post-meta">
          {{ if .Date | default nil }}
            <span class="post-date">
              {{ .Date.Format ($.Site.Params.DateFormatSingle | default "2006-01-02") }}
            </span>
          {{ end }}

          <span class="post-read-time">
            — {{ .Params.ReadingTime }} {{ $.Site.Params.MinuteReadingTime | default "min read" }}
          </span>
        </div>

        {{ if .Params.tags }}
          <span class="post-tags">
            {{ range .Params.tags }}
              <a href="{{ (urlize (printf `tags/%s` . )) | absURL }}/">#{{ . }}</a>&nbsp;
            {{ end }}
          </span>
        {{ end }}
      </div>
    {{ end }}
  </div>
{{ end }}
